footer{
    @include flex(space-evenly, center, row);
    flex-wrap: wrap;    
    background: $black-color;
    padding: 0rem 1rem 5rem 1rem;
}
.footer-div {
    @include flex(space-around, center, column);
    margin-top: 5rem;
    text-align: left;
    ul{
        @include flex(center, center, row);
        gap: 2rem;
    }
    li{
    transition: all 0.2s ease-in-out;
    }
    li:hover{
        transform: scale(1.2);
    }
    img{
        height: 30px;
    }
    a{
        margin-top: 1rem;
        font-size: $small-text;
    }
}