/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: $header1;
  }
  li,
  button,
  label,
  input,
  p {    
    color: black;
    font-size: $text;
  }
  a{
    color: white;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: $header2;
  }
  h3 {
    font-size: $header3;
  }
  h4,
  h5 {
    font-size: $header4;
  }
  
  ul,li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
button{
  background: none;
cursor: pointer;
z-index: 1;
padding: 2rem 3rem;


}