// HERO
.hero{
    background: linear-gradient(rgba(5, 21, 43, 0.8), transparent),
    url("../img/hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    @include flex(center, center, row);

}

.hero-intro{
    @include flex(space-between, center, column);
    color: white;
    gap: 1rem;
    h1{
        padding: 2rem;
    }
    ul{
        @include flex(space-between, center, row);
        img{
            height: 35px;
            margin-bottom: 2rem;
        }
    }
    button{
      color:white;
        border: 2px solid white;
        cursor: pointer;
        z-index:101;

    }
}

// ABOUT




