$header1: 5rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.6rem;
$small-text: 1.4rem;
$black-color: #0f0f0f;
$beige-color: #f5eee6;


@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "nav";
@import "main";
@import "projects";
@import "footer";



@media screen and (max-height: 600px) {
    .hero {
        min-height: 500px; /* Set a fixed height for screens smaller than 600px height */
    }
}

@media screen and (max-width: 800px) {
    .nav-header ul li{
        display: none;
      }
    .project-text{
        margin-left: 0rem;
    }

}